{% extends "base.html" %}
{% block content %}
  <h1>the minimage mission</h1>
  <br/>
  <p>
    At minimage, we believe minimal is more -- at least when it comes to storing pictures. That's why we created this image compression
    tool which revolutionizes the way we think about file space. What if you didn't have to delete the thirteen pictures of your cat?
    Instead, what if those prescious photos just...took up less space? With minimage, we're one step closer to making that a reality.
  </p>
  <br/>
  <h1>how it works</h1>
  <br/>
  <p>
    Powered by WF Analytics' proprietary imagePixels image rendering engine and unsupervised machine learning techniques,
    image compression just got easier and more efficient. Most importantly, it's a lot faster. 
  </p>
  <br/>
  <h3>"image compressor"</h3>
  <br/>
  <p>
    The "image compressor" page will show you the minimagic in action. In this free-trial version, you can specify the size (in rows
    and columns) of a test image and how much of the original quality of that image you want to keep. After running the program, you'll
    be able to see a before-and-after. Will you be able to notice a difference? Your storage system sure will. That's the power of
    unsupervised machine learning -- and you deserve to reap its rewards.
  </p>
  <br/>
  <h3>"explore the engine"</h3>
  <br/>
  <p>
    To test out how imagePixels works, check out "explore the engine," which supports Python-list inputs (via the "list input" page)
    as well as an easier-to-use format, "miniminput," (i.e. for 'minimal effort input') as a more accessible option. Each page results
    in the same output, so don't be worried about choosing one over the other.
   </p>
   <br/>
   <p>
    After running the program, you'll be given a list representing a grid of pixels for the specified rectangle you requested to draw.
    You also have the option to have these pixels visualized as points on a graph.
  </p>

  <p>
    <i>For a more in depth documentation, visit <a href="{{url_for('documentation')}}">the documentation</a> page.</i>
  </p>
  <br/><br/>
  


{% endblock %}
