{% extends 'base.html' %}

{% block content %}
{% if done %}
    {% if visualize %}
        <center>
            <h1>Your results are here.</h1>
            <br/>
            <h3>Textually...</h3>
            <br/>
            <p>{{solution}}</p>
            <br/>
            <h3>...and visually</h3>
        </center>
        <div id='chart' class='chart'”></div>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
        var graphs = {{graphJSON|safe}};
        Plotly.plot('chart',graphs,{});
        </script>
    {% else %}
        <center>
            <h1>Your results are here.</h1>
            <br/>
            <p>{{solution}}</p>
            <br/>
        </center>
        <br/>
    {% endif %}
{% else %}
    <h1>plot image pixels given the corners (x, y) of the rectangle.</h1>
    <br/>
    <form method="POST", action = #>
        {{ form.csrf_token }}
        <p>
            {{ form.bottomLeftX.label }}
            {{ form.bottomLeftX(style="background-color:#eceff1; text-align:center;")}} {{ form.bottomLeftY.label }}
            {{ form.bottomLeftY(style="background-color:#eceff1; text-align:center;") }} ) {{ form.topRightX.label }}
            {{ form.topRightX(style="background-color:#eceff1; text-align:center;") }} {{ form.topRightY.label }}
            {{ form.topRightY(style="background-color:#eceff1; text-align:center;") }} )
        </p>

        {% if form.bottomLeftX.errors %}
            <ul class="errors">
                {% for error in form.bottomLeftX.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form.bottomLeftY.errors %}
            <ul class="errors">
                {% for error in form.bottomLeftY.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            
        </p>

        {% if form.topRightX.errors %}
            <ul class="errors">
                {% for error in form.topRightX.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form.topRightY.errors %}
            <ul class="errors">
                {% for error in form.topRightY.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.shapeM.label }}
            {{ form.shapeM(style="background-color:#eceff1; text-align:center;")}}
        </p>
        <p>
            {{ form.shapeN.label }}
            {{ form.shapeN(style="background-color:#eceff1; text-align:center;") }}
        </p>

        {% if form.shapeM.errors %}
            <ul class="errors">
                {% for error in form.shapeM.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

      {% if form.shapeN.errors %}
          <ul class="errors">
              {% for error in form.shapeN.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
        <p>
        {{ form.decimals.label }}
        {{ form.decimals(style="background-color:#eceff1; text-align:center;", placeholder="0")}}
        </p>
        {% if form.decimals.errors %}
            <ul class="errors">
                {% for error in form.decimals.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.visualize() }} {{ form.visualize.label }}
        </p>

        {% if form.visualize.errors %}
            <ul class="errors">
                {% for error in form.visualize.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <button type="submit" class="btn btn-dark">Run</button>
        </p>
        <br/>
    </form>

{% endif %}
{% endblock %}