<footer class="bg-light text-center text-white">
    <div class = "mx-auto" style="background-color: #90a4ae;">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Social media -->
            <section>
                <!-- Google -->
                <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="mailto:williamfoote1122@gmail.com"
                  role="button"
                  data-mdb-ripple-color="dark"
                  ><img src="{{url_for('static', filename = 'images/google.svg')}}" alt="Google" width="32" height="32"></i
                ></a>
          
                <!-- Linkedin -->
                <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://www.linkedin.com/in/william-foote/"
                  target="_blank"
                  rel="noopener noreferrer"
                  role="button"
                  data-mdb-ripple-color="dark"
                  ><img src="{{url_for('static', filename = 'images/linkedin.svg')}}" alt="LinkedIn" width="32" height="32"></i
                ></a>
                <!-- Github -->
                <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://github.com/williamfoote"
                  target="_blank"
                  rel="noopener noreferrer"
                  role="button"
                  data-mdb-ripple-color="dark"
                  ><img src="{{url_for('static', filename = 'images/github.svg')}}" alt="Github" width="32" height="32"></i
                ></a>
                <!-- TDS -->
                <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://medium.com/@LilUziFoote"
                  target="_blank"
                  rel="noopener noreferrer"
                  role="button"
                  data-mdb-ripple-color="dark"
                  ><img src="{{url_for('static', filename = 'images/tds.png')}}" alt="Towards Data Science" width="32" height="32"></i
                ></a>
              </section>
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #607d8b;">
            <img src="{{url_for('static', filename = 'images/will_foote_icon.svg')}}" alt="Github" width="25" height="25">
           Analytics
        </div>
        <!-- Copyright -->
    </div>
  </footer>