{% extends "base.html" %}
{% block content%}
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 7.5%;
    }
  </style>
  <body>
    <div class="center">
      <center>
          <img src="{{url_for('static', filename = 'images/minimage_icon.svg')}}" class="rounded mx-auto d-block" width="64" height="64">
        <center/>
        <br/>
      <h1>welcome to minimage.</h1>
    </div>
    <div>
      <center>
      <p>because less memory used means more memories saved.</p>
      <center/>
    </div>
{% endblock %}